<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /Survey-Tool




RewriteRule ^/?(registrieren)$ registrieren.php [L]
RewriteRule ^/?(login)$ registrieren.php [L]

RewriteRule ^/?(umfrage|u)/?([a-z0-9]+)$ umfrage.php?u=$2 [L]


#RewriteRule ^/?(login)/?([0-9]+)$ invoice.php?invoicenr=$2 [L]




#THEME


#RewriteRule ^/?(css)/?([a-z._0-9\-]+)$ /css/$2 [L]

#RewriteRule ^/?(js)/?([a-z._0-9\-]+)$ /js/$2 [L]

#RewriteRule ^/?(img)/?([a-z._0-9\-]+)$ /img/$2 [L]


</IfModule>
